
    <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
    <ul class="nav nav-pills">
      <li class="active">
     <%= link_to 'New Quote', new_quote_path %>
      </li>
      <li class="active"><a href="#">New Project</a></li>
      <li class="active"><a href="#">New Client</a></li>
      <li class="active"><%= link_to 'List Quotes', quotes_path %></li>
    </ul>
    </div>
   </div>
<hr>